.checkboxLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.checkboxInputAndFakeCheckMark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxInput {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
