.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.toggleSwitch input[type='checkbox'] {
  display: none;
}

.toggleSwitchBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggleSwitchHandle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.toggleSwitch input[type='checkbox']:checked + .toggleSwitchBackground {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}

.toggleSwitch input[type='checkbox']:checked + .toggleSwitchBackground .toggleSwitchHandle {
  left: calc(100% - 30px - 5px);
}
