.treeView {
  padding: 8px;
  font-size: 14px;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
  border-radius: 8px;
  overflow: auto;
  // Light theme styles:
  background-color: white;
  border: 1px solid #e5e7eb;
}

html[data-theme='dark'] .treeView {
  background-color: #111827;
  border-color: #374151;
}
