.fancyRadio {
  --height: 42px;
  --padding: calc(var(--height) / 10);
  --ball-size: calc(var(--height) - 2 * var(--padding) - 2px);
  --indicator-size: calc(var(--height) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height);
  width: calc(var(--height) * 2);
  cursor: pointer;
}

.fancyRadioInnerStyle {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 6px;
  border-radius: 9999px;
  border: 1px solid #32303e;
  box-sizing: border-box;
  box-shadow:
    inset 0px 5px 10px 0px #16151c,
    0px 3px 6px -2px #403f4e;
  background-color: #252532;
}

.fancyRadio input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  appearance: none;
}

.slider {
  position: absolute;
  top: 50%;
  left: var(--padding);
  transform: translateY(-50%);
  height: var(--ball-size);
  width: var(--ball-size);
  background: linear-gradient(#3b3a4e, #272733);
  border-radius: 100%;
  box-shadow:
    inset 0px 5px 4px 0px #424151,
    0px 4px 15px 0px #0f0e17;
  z-index: 2;
  transition: left 0.1s ease-in;
}

.statusIndicatorStyle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border-width: calc(var(--height) / 20);
  border-style: solid;
  box-sizing: border-box;
  height: var(--indicator-size);
  width: var(--indicator-size);
}

.statusOff {
  right: calc(var(--height) / 4);
  border-color: #ef565f;
}

.statusOn {
  left: calc(var(--height) / 4);
  border-color: #60d480;
}

.fancyRadio:has(input[type='checkbox']:checked) .slider {
  left: calc(100% - var(--ball-size) - var(--padding));
}

.fancyRadio:has(input[type='checkbox']:not(:checked)) .statusOff {
  animation: appear 1s forwards;
}

.fancyRadio:has(input[type='checkbox']:checked) .statusOn {
  animation: appear 1s forwards;
  opacity: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
