.progressBarThumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  border-radius: 9999px 0 0 9999px;
  background-color: #3a78ff;
  transition: width 0.8s ease-in-out;
}
