.trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
}

.control {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
  height: 40px;
}

.input {
  padding-inline: 0.75rem;
  border-radius: 0.25rem;
  height: 100%;
  border: 1px solid black;
}

html[data-theme='dark'] .input {
  background-color: #0f172b;
}

.input:focus {
  border: 1px solid rgb(0, 94, 255);
}

.controlTrigger {
  border: 1px solid black;
  height: 100%;
  width: 40px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // border-radius: 0.25rem;
  // cursor: pointer;
}

.controlTrigger:focus {
  border: 1px solid rgb(0, 94, 255);
}

html[data-theme='dark'] .controlTrigger {
  background-color: #0f172b;
}

.controlTrigger:hover {
  background-color: #f4f4f309;
}

.controlTrigger > svg {
  height: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 344px;
  padding: 1rem;
  border-radius: 0.375rem;
  z-index: 1000;
  box-shadow:
    0px 8px 16px rgba(0, 0, 0, 0.8),
    0px 0px 1px inset #fffbed3c;
  background-color: #191918;
  color: white;
}

.view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  flex-direction: column;
  width: 100%;
}

.viewControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 2.25rem;
  width: 100%;
}

.prevNextTrigger {
  min-width: 2.25rem;
  height: 100%;
}

.prevNextTrigger:is(:hover, [data-hover]) {
  background-color: #f6f6f513;
}

.viewTrigger {
  height: 2.25rem;
  min-width: 2.25rem;
  padding-inline: 0.875rem;
  background-color: #f6f6f513;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.25rem;
  margin: calc(0.25rem * -1);
}

.tableHeader {
  color: #b5b3ad;
  font-weight: 600;
  height: 2.5rem;
}

.tableCell {
  text-align: center;
}

.tableCellTrigger {
  height: 2.5rem;
  width: 100%;
  min-width: 2.5rem;
}

.tableCellTrigger:is(:disabled, [disabled], [data-disabled]) {
  color: #6f6d66;
  cursor: not-allowed;
}

.tableCellTrigger:is(:hover, [data-hover]),
.tableCellTrigger[data-selected] {
  background-color: #f6f6f513;
}

.fontBold {
  font-weight: 600;
}
