.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 8px 16px;
  border-radius: 6px;
}

.input {
  width: 100%;
}

.actionsWrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.clearIcon,
.arrowTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.clearIcon:hover,
.arrowTrigger:hover {
  background-color: rgb(224, 224, 224, 0.2);
}

.clearIcon > svg,
.arrowTrigger > svg {
  position: relative;
  height: 10px;
  width: 10px;
  top: 1px;
}

.dropdown {
  overflow: auto;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.selectItemIndicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}
