.selectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  font-size: 13px;
  line-height: 1;
  gap: 10px;
  padding: 0 10px;
  background-color: white;
  color: purple;
  box-shadow: 0 2px 6px rgb(176, 176, 176);
  height: 35px;
}
.selectTrigger:hover {
  background-color: #eaeaea; // var(--mauve-3)
}
.selectTrigger:focus {
  box-shadow: 0 0 0 2px black;
}
.selectTrigger[data-placeholder] {
  color: purple; // var(--violet-9)
}

.selectIcon {
  color: purple; // Var(--violet-11)
}

.selectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.selectViewport {
  padding: 5px;
  max-height: 400px;
}

.selectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: rosybrown; // var(--violet-11);
  cursor: default;
}

.dropdownMenuArrow {
  fill: white;
  height: 5px;
  width: 10px;
}
