.selectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  font-size: 13px;
  line-height: 1;
  gap: 10px;
  padding: 0 10px;
  cursor: pointer;
  background-color: white;
  color: rgb(22, 22, 22);
  height: 35px;
  border: 1px solid black;
}

html[data-theme='dark'] .selectTrigger {
  background-color: #0f172b;
  color: white;
}

.selectTrigger:hover {
  background-color: #eaeaea;
}

.selectTrigger:focus {
  border-color: rgb(0, 94, 255);
}

.selectTrigger[data-placeholder] {
  color: rgb(0, 72, 255);
}

.selectIcon {
  color: rgb(0, 0, 128);
}

.selectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

html[data-theme='dark'] .selectContent {
  background-color: #0f172b;
  color: white;
}

.selectViewport {
  padding: 5px;
  max-height: 400px;
}

.selectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: white;
  cursor: default;
}

.dropdownMenuArrow {
  fill: white;
  height: 5px;
  width: 10px;
}
