.codeBlock {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
  flex-grow: 1;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  background-color: rgb(248, 248, 248);
}

html[data-theme='dark'] .codeBlock {
  background-color: black;
}

.copyIconButton {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 9px;
  border-radius: 50%;
  opacity: 0;
  transition: all ease-in-out 0.2s;
}

.copyIconButton:hover {
  background-color: rgba(37, 92, 231, 0.6);
}

.codeBlock:hover .copyIconButton {
  opacity: 1;
}

.copied {
  opacity: 1;
}

.copyIconButton.copied {
  background-color: rgb(54, 174, 106);
}
