@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-2xs: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  --shadow-xs: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  --shadow-sm: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0 6px 6px rgba(0, 0, 0, 0.1);
  --shadow-base: 0 0 8px 8px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  --shadow-dark-xs: 0 0 2px 2px rgba(255, 255, 255, 0.1);
  --shadow-dark-sm: 0 0 4px 4px rgba(255, 255, 255, 0.1);
  --shadow-dark-md: 0 0 6px 6px rgba(255, 255, 255, 0.1);
  --shadow-dark-base: 0 0 8px 8px rgba(255, 255, 255, 0.1);
  --shadow-dark-lg: 0 0 10px 10px rgba(255, 255, 255, 0.1);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* @layer components {} */

@utility no-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Chrome Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-thin {
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
    opacity: 0.5;
    overflow-x: hidden;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    /*box-shadow: inset 0 0 5px grey;*/
    opacity: 0.5;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(161, 161, 255, 0.5);
    border-radius: 5px;
    opacity: 0.5;
  }
}

@layer utilities {
  /* @tailwind variants; */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-outline-radius: unset;
    outline: none;
    color: inherit;
  }

  *::-webkit-scrollbar {
    width: 10px;
    opacity: 0.5;
    overflow-x: hidden;
  }

  *::-webkit-scrollbar-track {
    background: #7d8784;
    border-radius: 5px;
    opacity: 0.5;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(133, 133, 248, 0.9);
    border-radius: 5px;
    opacity: 0.9;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgba(93, 93, 255, 0.9);
    opacity: 0.5;
  }
}

@layer base {
  html {
    @apply w-full;
    @apply h-full;
  }

  body {
    @apply relative;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    @apply w-full;
    @apply h-full;
    @apply text-sm;
    overflow: hidden;
  }

  #root {
    @apply w-full;
    @apply h-full;
  }

  /* width */
  body::-webkit-scrollbar {
    width: 12px;
    opacity: 0.5;
    overflow-x: hidden;
  }

  /* Track */
  body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    /*box-shadow: inset 0 0 5px grey;*/
    opacity: 0.5;
  }

  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: rgba(255, 93, 223, 0.2);
    border-radius: 5px;
  }

  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 41, 41, 0.5);
  }

  button {
    line-height: normal;
  }
}
